<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span style="font-size: 12px;">This is the servers</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="intro-card">
  <h3>This is the carded section</h3>
  <p>
    <b>In this component we're playing with text injection and changeable buttons</b>
  </p>

  </mat-card>

<p>Id: {{ ID }}</p>
<p>Server Name: {{  serverName  }}</p>
<p [ngStyle]="{backgroundColor: getColor()}"
  [ngClass]="{online: serverStatus === 'online'}">
  Server Status: {{ serverStatus }}
</p>

<label>Server name</label>
<input
  type="text"
  class="form-control"
  placeholder="Something"
  [(ngModel)]="newServerName">

<button
  class="btn btn-primary"
  [disabled]="!allowNewVM"
  (click)="onCreateServer()">
  New VM
</button>

<p *ngIf="serverCreated else noServer">{{  newServerName }}</p>
<ng-template #noServer>
  <p>Ready to create server</p>
</ng-template>

<button class="btn btn-primary" [disabled]="!allowNewDatabase">New Database</button>

<ul >
  <li *ngFor="let serv of servers; let i = index ">Server {{ i + 1 }}: {{ serv  }}</li>
</ul>

<mat-card *ngFor="let serv of servers; let i = index" class="server-list">
  <h3>Server {{ i }}</h3>
  <p>Server name: {{ serv }}</p>
</mat-card>
