<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span style="font-size: 12px;">This is the servers</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="intro-card">
  <h3>This is the carded section</h3>
  <p>
    <b>In this component we're playing with text injection and changeable buttons</b>
  </p>

  </mat-card>

<p>Id: {{ ID }}</p>
<p>Server Name: {{  serverName  }}</p>
<p>Server Status: {{ getServerStatus() }}</p>

<button
  class="btn btn-primary"
  [disabled]="!allowNewVM"
  (click)="onCreateServer()">New VM
</button>

<p>{{  serverCreationStatus }}</p>


<button class="btn btn-primary" [disabled]="!allowNewDatabase">New Database</button>
