<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
        <header>
          <mat-toolbar color="primary">
            <span>Hello beech</span>
            <ul>
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="charts">Charts</a></li>
              <li><a routerLink="servers">Servers</a></li>
            </ul>
          </mat-toolbar>
        </header>
