<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1>Learning Angular</h1>
                </div>
                <nav>
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li><a routerLink="charts">Charts</a></li>
                        <li><a routerLink="servers">Servers</a></li>
                    </ul>
                </nav>
            </div>
          <button mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </header>
      </body>
